//
// Font Embeds
// ---------------------------

// example:
@font-face {
    font-family: 'brandon-reg';
    src: url('/fonts/brandon/brandon-reg.eot'); // ie8 hack
    src: url('/fonts/brandon/brandon-reg.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon/brandon-reg.woff') format('woff'),
         url('/fonts/brandon/brandon-reg.ttf') format('truetype'),
         url('/fonts/brandon/brandon-reg.svg#brandon-reg') format('svg');
    font-weight: normal !important;
    font-style: normal;
}
