#app {
    > div {
        overflow: hidden;

        > nav {}

        > main {}

        > footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 1px solid #444;
        }
    }
}
