//
// Audio Player
// ---------------------------

.audio-player {
	position: fixed;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: #222;
	color: #ccc;
	z-index: 100;
}
.audio-progress-container {
	position: relative;
	height: .5em;
	background-color: white;
	cursor: pointer;
	overflow: hidden;
	transition: height 100ms;
	&:hover {
		height: 1em;
	}

	.audio-seek-bar,
	.audio-progress {
		position: absolute;
		height: 1em;
		top: 0;
		left: 0;
	}
	.audio-progress {
		z-index: 1;
	}
}

.audio-volume-bar {
	display: block;
	&.audio-volume-bar-hide {
		display: none;
	}
}

.audio-volume-percent-container {
	position: relative;
	height: 100px;
	width: 10px;
	background: white;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;

	.audio-volume-percent {
		width: 10px;
		background: #333;
		position: absolute;
  		top: 100%;
  		bottom: 0;
  		transition: top 100ms;
	}
}