//
// Loader
// ---------------------------

.loader {
	@extend %spread;
	background-color: #eee;

	.loader-svg {
		@extend %absolute-center;
	}
	.stroke {
		animation: stroke-width 2s infinite;
	}
	.stroke-1 {
		// animation-delay: 0;
	}
	.stroke-2 {
		animation-delay: 100ms;
	}
	.stroke-3 {
		animation-delay: 250ms;
	}
	.stroke-4 {
		animation-delay: 400ms;
	}
}

@keyframes stroke-width {
	0% {
		stroke-width: 0;
        stroke: rgba(#333,0);
	}
	40% {
		stroke: #333;
		stroke-width: 2;
	}
	60% {
		stroke: #333;
		stroke-width: 2;
	}
	100% {
        stroke-width: 0;
        stroke: rgba(#333,0);
    }
}

