header {
    position: fixed;
    top: 0;
    left: 0;
    height: $navHeight;
    width: 100%;
    background-color: #f3f3f3;
    z-index: 100;
    h1 {
        position: absolute;
        left: 1em;
        font-size: 1em;
        text-transform: uppercase;
    }
}

.nav-links {
    padding: 0;
    width: 100%;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 1em;

        a {
            text-decoration: none;
            text-transform: uppercase;
        }

        a:hover {

        }

        &.selected a {
            font-weight: bold;
        }
    }
}
