//
// Release Deck
// ---------------------------

#release-deck {
	@extend %spread;
	top: $navHeight;
	bottom: $navHeight;
	height: auto;
	display: flex;
	align-items: center;
	overflow: hidden;
	background: #ccc;

	.deck-left,
	.deck-right {
		position: relative;
	}
	.deck-left {
		width: 35%;
		padding: 4em 1em;
		margin-left: 4em;
	}
	.deck-right {
		width: 65%;
		padding: 4em 1em;
		margin-right: 4em;
	}
	.release-cover {
		position: relative;
		padding-top: 100%;
		width: 100%;
		> img {
			@extend %spread;
		}
	}
	.release-tracks {
		width: 100%;
	}
}
