//
// Release Details
// ---------------------------

.release-details {
    .release-tracks {
        padding: 0;
        font-size: .9em;
        &.two-column {
            columns: 2;
        }
    }
    .track {
        position: relative;
        list-style-type: none;
        counter-increment: track-number;
        &:before {
            display: inline-block;
            min-width: 1em;
            padding-right: .5em;
            font-size: .9em;
            text-align: left;
            content: counter(track-number)'. ';
        }
        .track-title {
            @extend %text-ellipsis;
            display: inline-block;
            cursor: pointer;
        }
        .track-time {
            display: inline-block;
        }
        .svg-icon {
            display: inline-block;
            opacity: .5;
        }
    }
}
