//
// Tooltip
// ---------------------------

.tooltip {
    $transTime: 300ms;
    position: relative;
    .tooltip-label {
        position: absolute;
        padding: .4em;
        margin-bottom: 1em;
        bottom: 100%;
        min-width: 4em;
        border-radius: 2px;
        background-color: #313131;
        box-shadow: 0 3px 16px rgba(black, 0.15);
        color: white;
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
        z-index: 1000;
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: .4em solid transparent;
            border-top-color: #313131;
            z-index: -1;
            transition: top $transTime ease;
        }
    }

    // center aligned styles
    &.is-center-aligned {
        .tooltip-label {
            left: 50%;
            transform: translateX(-50%);
            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &.is-visible {
            .tooltip-label {
                transform: translateY(0) translateX(-50%);
            }
        }
        &.is-hidden {
            .tooltip-label {
                transform: translateY(100%) translateX(-50%);
            }
        }
    }

    // left aligned styles
    &.is-left-aligned {
        .tooltip-label {
            left: -1em;
            transform: translateX(0);
            &:after {
                left: 1em;
            }
        }
        &.is-visible {
            .tooltip-label {
                transform: translateY(0) translateX(0);
            }
        }
        &.is-hidden {
            .tooltip-label {
                transform: translateY(100%) translateX(0);
            }
        }
    }

    // Right aligned styles
    &.is-right-aligned {
        .tooltip-label {
            right: -1em;
            transform: translateX(0);
            &:after {
                right: 1em;
            }
        }
        &.is-visible {
            .tooltip-label {
                transform: translateY(0) translateX(0);
            }
        }
        &.is-hidden {
            .tooltip-label {
                transform: translateY(100%) translateX(0);
            }
        }
    }

    // Shared visible styles
    &.is-visible {
        .tooltip-label {
            opacity: 1;
            visibility: visible;
            transition: transform $transTime ease, 
                        opacity $transTime, 
                        visibility $transTime 0s;
            &:after {
                top: 100%;
            }
        }
    }

    // Shared hidden styles
    &.is-hidden {
        .tooltip-label {
            opacity: 0;
            visibility: hidden;
            transition: transform $transTime ease, 
                        opacity $transTime, 
                        visibility $transTime $transTime;
            &:after {
                top: 0;
            }
        }
    }
}
